*{
    background-color: lavender;
}
.section header
{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    font-family: italic;
}
.section h3{
    text-align: center;
    margin-top: 30px;
    font-size: 26px;
    font-family: italic;
    color: chocolate;
}
.section h4{
    text-align: center;
}
.section img{
    margin-left: 471px;
    height: 330px;
}
.section footer{
    font-size: 24px;
}
.section a{
    margin-left: 520px;
    position: relative;
    top: 30px;
}